{# src/GagneGrosBundle/Resources/views/GG_Views/parisMitemp.html.twig #}

{% extends "GagneGrosBundle::layout.html.twig" %}

{% block title %} {{ parent() }} | Paris Mi-temps {% endblock %}

{% block body %}
<h1>PARIS Mi-temps</h1>

{% endblock %}

{% block aside_enfant %}
<div class="aside_paris_mitemp">

</div>
{% endblock %}
