{# src/GagneGrosBundle/Resources/views/GG_Views/parisScore.html.twig #}

{% extends "GagneGrosBundle::layout.html.twig" %}

{% block title %} {{ parent() }} | Paris Score {% endblock %}

{% block body %}
<h1>PARIS SCORE FINAL</h1>

{% endblock %}

{% block aside_enfant %}
<div class="aside_paris_score">

</div>
{% endblock %}
